@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');


#footer {
    color: black;
    font-size: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Play', sans-serif;
}

  #footer a {
      text-decoration: none;
      color: black;
      font-family: 'Play', sans-serif;

  }